amqp==1.4.6
anyjson==0.3.3
astroid==1.3.8
autopep8==1.2
backports.ssl-match-hostname==3.4.0.2
BeautifulSoup==3.2.1
beautifulsoup4==4.3.2
billiard==3.3.0.20
cassandra-driver==3.0.0
celery==3.1.18
certifi==2015.4.28
circleclient==0.1.6
coverage==4.0.3
cql==1.4.0
cssselect==0.9.1
Django==1.8.5
django-bootstrap3==6.2.2
django-jwt-auth==0.0.1
djangorestframework==3.3.2
djangorestframework-bulk==0.2.1
ecdsa==0.13
elasticsearch==2.2.0
enum34==1.0.4
feedfinder2==0.0.1
feedparser==5.1.3
Flask==0.10.1
Flask-API==0.6.4
futures==3.0.3
gnureadline==6.3.3
grpcio==0.11.0b1
igraph==0.1.8
ipython==3.1.0
itsdangerous==0.24
jieba==0.35
Jinja2==2.7.3
jsonschema==2.4.0
knowledge==0.0.1
kombu==3.0.26
linecache2==1.0.0
logilab-common==1.0.2
lxml==3.3.5
MarkupSafe==0.23
mercurial==3.5.2
mistune==0.5.1
mock==1.0.1
mongoengine==0.10.5
newspaper==0.0.9.8
nltk==2.0.5
nose==1.3.7
numpy==1.10.1
paramiko==1.15.3
pbr==1.8.1
pep8==1.6.2
Pillow==2.5.1
protobuf==3.0.0a3
ptyprocess==0.5
py==1.4.31
pycrypto==2.6.1
pygame==1.9.2a0
Pygments==2.0.2
PyJWT==0.2.1
pylint==1.4.4
pylint-django==0.6.1
pylint-plugin-utils==0.2.3
pymongo==3.2
pynder==0.0.9
pytest==2.8.5
python-dateutil==2.4.0
python-igraph==0.7.1.post6
pytnyu==0.0.4
pytz==2015.4
PyYAML==3.11
pyzmq==14.6.0
reportlab==3.3.0
requests==2.3.0
requests-aws4auth==0.8
rudix==2015.6.1
scipy==0.16.0
selenium==2.47.3
sendgrid==1.5.3
simplejson==3.8.1
six==1.7.3
smtpapi==0.2.0
SoNet==0.0.1
spur==0.3.14
stevedore==1.9.0
TableFactory==0.1.4
techatnyu==0.0.1
terminado==0.5
thrift==0.9.3
tldextract==1.5.1
tnyu-api==0.0.1
tornado==4.1
traceback2==1.4.0
unittest2==1.1.0
urllib3==1.12
vboxapi==1.0
virtualenv==13.1.2
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.1
Werkzeug==0.10.4
wheel==0.26.0
xlwt==1.0.0
